@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');

:root {
	--main-color: #37d3c4;
	--secondary-color: #f26606;
	--tertiary-color: #008080;
}

body {
	font-family: 'Nunito', sans-serif;
}

h3, h4, h5 {
	font-weight: 600;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

header {
	padding: 20em 0 20em;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(header_bg.png);
	background-position: 50% 50%;
	background-size: cover;
}

section {
	padding: 5em 0;
}

#quote {
	background-color: var(--main-color);
	color: white;
	font-weight: 600;
}

#quote footer {
	color: white;
	font-weight: 300;
}

#about {
	background-color: var(--tertiary-color);
	color: white;
}

#about-card {
	background-color: var(--secondary-color);
}

#contact-button {
	background-color: rgb(237, 9, 134);
	color: white;
}

#team-banner {
	background-color: rgb(229, 229, 229);
}

#team-person {
	background-color: white;
}

#circle-container {
	width: 250px;
	height: 250px;
}

.circle-green {
	background: none;
	border-radius: 45%;
	height: 15em;
	width: 15em;
	border: 2em solid rgb(0, 118, 118);
	margin-right: -5em;
}

.circle-orange {
	background-blend-mode: multiply;
	height: 10em;
	width: 10em;
	border-radius: 100%;
	margin-left: -15em;
}

#what-we-do {
	background-color: black;
}

#what-we-do h3 {
	color: var(--secondary-color);
}

#what-we-do p {
	color: white;
	font-size: 1.5em;
	font-weight: 200;
	font-style: italic;
}

#services {
	padding-top: 0;
	padding-bottom: 0;
}

.services-1 {
	background-blend-mode: multiply;
	color: white;
	padding-top: 2em;
	padding-bottom: 2.5em;
}

#service-detail {
	padding-bottom: 2em;
	padding-top: 2em;
}

.dark-green {
	color: var(--tertiary-color);
}

.light-green {
	color: var(--primary-color);
}

.orange {
	color: var(--secondary-color);
}

.small-text {
	font-size: 0.8em;
}

.fa-circle {
	color: var(--tertiary-color);
}

#service-detail {
	background-color: rgb(248, 248, 248);
}

#about-person {
	background-color: rgb(248, 248, 248);
}

#how-numbers {
	background-color: rgb(248, 248, 248);
}

hr.separator {
	border: 0.5px solid var(--secondary-color);
}

hr.separator-1 {
	border: 0.5px solid var(--tertiary-color);
	width: 50%;
	margin-top: 4em;
	margin-bottom: 4em;
}

.circle-testimonial {
	background-blend-mode: multiply;
	height: 11em;
	width: 11em;
	border-radius: 100%;
}

#contact {
	background-color: black;
	color: white;
}
